body{
    background: blue;
}


#canvas1{
   border: 2px solid black;
   background: url('/images/Grass_01.png');
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 1000px;
}

#score-container{
  text-align: center;
}

#time-container{
  text-align: center;
}

#game-over{
    text-align: center;
    display: none;
}

.btn-container{
  display:flex;
  align-content:center;
  justify-content: center;
}

#restart-button{
  width: 100px;
  height: 30px;
  background-color:red;
  border: 1px solid #000;
  display: none;
}

#nxt-level-button{
  width: 100px;
  height: 30px;
  background-color:red;
  text-align: center;
  border: 1px solid #000;
  display: none;
}

#you-win{
    text-align: center;
    display: none;
}

