body{
    background: blue;
  
}

#container{
  position:relative
}


#canvas1{
   border: 2px solid black;
   background: url('/images/Grass_01.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   max-width: 100%;
   max-height: 100%;
    margin-top: 5%;
}

#score-container{
  text-align: center;
}

#time-container{
  text-align: center;
}

#game-over{
    text-align: center;
    display: none;
}

.btn-container{
  display:flex;
  align-content:center;
  justify-content: center;
}

#restart-button{
  width: 100px;
  height: 30px;
  background-color:red;
  border: 1px solid #000;
  display: none;
}

#nxt-level-button{
  width: 100px;
  height: 30px;
  background-color:red;
  text-align: center;
  border: 1px solid #000;
  display: none;
}

#you-win{
    text-align: center;
    display: none;
}

.sad-rabbit-container{
  display:flex;
  align-content:center;
  justify-content: center;
}

#you-lose{
  display:none;
  text-align: center;
  margin-top: 20px;
  }

  .happy-rabbit-container{
    display:flex;
    align-content:center;
    justify-content: center;
  }

  #you-win-rabbit{
    display:none;
    text-align: center;
    margin-top: 20px;
  }

  .direction-btn-container{
    display:flex;
    align-content:center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 100px;
  }

  #up{
    
    text-align: center;
    }
  #right{
    
    text-align: center;
    }
  #down{
    
    text-align: center;
   }
  #left{
    
    text-align: center;
  }

/*@media screen and (max-width: 700px) {
   #canvas{
    height: 200%;
   }
  
  #up{
     display:block;
   }
   #right{
    display:block;
   }
   #down{
    display:block;
   }
   #left{
    display:block;
   }

}

/*@media screen and (min-width: 400px){
  .direction-btn-container{
    margin-bottom: 50px;
   }
}